<!DOCTYPE html>
<html>
<title>Wrong address</title>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
    }
    h1 {
      color: #f00;
    }
    h2 {
      color: #f00;
    }
    p {
      color: #f00;
      font-size: 200px;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      display: block;
      margin-bottom: 0px;
      margin-top: 20px;
    }
    img {
      margin-top: 20px;
      width: 400px;
      height: auto;
    }
  </style>
</head>
<body>

<p>Error 404</p>
<img src="https://cdn3.iconfinder.com/data/icons/emoticon-emoji-1/50/Dissapointed-1024.png" alt="Sad Image">
</body>
</html>